<section ng-controller="LandingCtrl" class="hero-content">
  <!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
    // TODO: Implement getParameterByName()

    // Get the action to complete.
    var mode = getParameterByName('mode');
    // Get the one-time code from the query parameter.
    var actionCode = getParameterByName('oobCode'};
    // (Optional) Get the API key from the query parameter.
    var apiKey = getParameterByName('apiKey'};

    // Configure the Firebase SDK.
    // This is the minimum configuration required for the API to be used.
    var config = {
      'apiKey': apiKey  // This key could also be copied from the web
                        // initialization snippet found in the Firebase console.
    };
    var app = firebase.initializeApp(config);
    var auth = app.auth();

    // Handle the user management action.
    switch (mode) {
      case 'resetPassword':
        // Display reset password handler and UI.
        handleResetPassword(auth, actionCode);
        break;
      case 'recoverEmail':
        // Display email recovery handler and UI.
        handleRecoverEmail(auth, actionCode);
        break;
      case 'verifyEmail':
        // Display email verification handler and UI.
        handleVerifyEmail(auth, actionCode);
        break;
      default:
        // Error: invalid mode.
    }
  }, false);
</script> -->
  <div class="hero-title">
    <h1>{{hero.title}}</h1>
  </div>
</section>
<div class="link-container">
  <div ng-controller="LandingCtrl" class="form-group forms">
    <div class="formWrap">
      <input type="text" class="form-control emailForm" ng-model="email" placeholder="enter e-mail" />
      <input type={{inputType}} class="form-control passwordForm" ng-model="password" placeholder="enter password" />
      <div class="checkboxWrap">
        <input type="checkbox" class="passCheckbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
        <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
        <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
      </div>
      <div class="manageBtnWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="signup col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-click="signup(email, password)" ng-hide="logoutAppear" ><p>sign up</p></div>
        <div class="logOut col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-click="signOut()" ng-show="logoutAppear "><p>log out</p></div>
        <!-- <div class="interBtnSpace"></div> -->
        <!-- <div class="login col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-click="login(email, password)" class="login"><p>log in</p></div> -->
        <div class="login col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-click="go()" class="login"><p>go</p></div>
      </div>
    </div>
  </div>
</div>
<section class="selling-points container clearfix">
  <div class="point column third">
    <span class="ion-university"></span>
    <h5 class="point-title">Smart</h5>
    <p class="point-description">You don't have to do time math anymore, let Spedtracker do it for you!</p>
  </div>
  <div class="point column third">
    <span class="ion-thumbsup"></span>
    <h5 class="point-title">Easy</h5>
    <p class="point-description">Keeping track of 10 extended time students? With different time extensions, start times, and even tests?  No need to fear, Spedtracker is here!</p>
  </div>
  <div class="point column third">
    <span class="ion-upload"></span>
    <h5 class="point-title">Compliant</h5>
    <p class="point-description">Spedtracker organizes important information in an easy-to-print format for your records</p>
  </div>
</section>
