<section ng-controller="LandingCtrl" class="hero-content">
  <div class="hero-title">
    <h1>{{hero.title}}</h1>
  </div>
</section>
<div class="link-container">
  <div ng-controller="AuthCtrl" class="form-group forms">
    <input class="form-control emailForm" ng-model="email" placeholder="enter e-mail" />
    <input class="form-control passwordForm" ng-model="pass" placeholder="enter password" />

    <div ng-click="signup(email, password)" class="signup"><p>sign up</p></div>
    <div ng-click="login(email, password)" class="login"><p>log in</p></div>
  </div>
</div>
<section class="selling-points container clearfix">
  <div class="point column third">
    <span class="ion-university"></span>
    <h5 class="point-title">Smart</h5>
    <p class="point-description">You don't have to do time math anymore, let Spedtracker do it for you!</p>
  </div>
  <div class="point column third">
    <span class="ion-thumbsup"></span>
    <h5 class="point-title">Easy</h5>
    <p class="point-description">Keeping track of 10 extended time students? With different time extensions, start times, and even tests?  No need to fear, Spedtracker is here!</p>
  </div>
  <div class="point column third">
    <span class="ion-upload"></span>
    <h5 class="point-title">Compliant</h5>
    <p class="point-description">Spedtracker organizes important information in an easy-to-print format for your records</p>
  </div>
</section>
