<section ng-controller="StudentCtrl" class="user">
  <!-- <div ng-include="'/templates/navbar.html'"></div> -->
<body>
<div class="list-group">
<!--begin Clock-->
<div class="clock-container-fluid">
  <div class="clock-row row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column2">
      <div class= "page-name">
        <b><p class="pageName">test tracker</p></b>
        <b><p class="userName">{{currentUser().displayName}}'s student dashboard</p></b>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column1">
      <div class="clock">
        <p><b>{{time | date: 'EEEE'}}, </b><b>{{time | date: 'MMMM'}} {{time | date: 'dd'}}, </b><b>{{time | date: 'yyyy'}}, </b><b> {{time | date: 'mediumTime'}}</b></p>
      </div>
    </div>
  </div>
</div>
<!--end Clock-->
<!-- links -->
<div class="linkWrap">
  <div class="links">
    <button ui-sref="testDataPrintout" class="link"><p class="linkText">view data printout</p><i class="fa fa-print" aria-hidden="true"></i></button>
    <button ng-click="warnClose()" class="link2"><b><p class="linkText">Log out and close session</p></b></button>
  </div>
</div>
<!-- <button class= "yesNoBtn" ng-click="checkIfIdle()">check if Idle</button> -->

<div class="alert alert-danger" role="alert" ng-show="warn">
  <div class="alert-message">Do you wish to erase student list and close session?
  <div class="yesNoContainer">
    <button class="yesBtn" ng-click="logout()"><p>close session</p></button>
    <button class="noBtn" ng-click="warningRejection()"><p>not yet</p></button>
  </div>
</div>
</div>

<div class="alert alert-warning" role="alert" ng-show="alert"><i class="fa fa-exclamation" aria-hidden="true"></i><i class="fa fa-exclamation" aria-hidden="true"></i><i class="fa fa-exclamation" aria-hidden="true"></i> oops! At minimum, please enter student name and testing extension multiple.</div>

<div class="alert alert-info" role="alert" ng-show="info">There are no tests ready to start at this time.</div>

<!--begin Student Display-->
<div class="container-fluid main-body w3-panel w3-card-2">
<!--SELECT / DELETE CONTROLS-->
  <div class="row formControls marginLeft marginRight">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mainBtn" ng-class="{'col-lg-4 col-md-4 col-sm-4 col-xs-12 mainBtn': clickedToDelete, 'col-lg-12 col-md-12 col-sm-12 col-xs-12 mainBtn': !clickedToDelete}">
      <button class="controlBtn selectAll clearAll invertSelection" ng-click="switchControl(students)">
        <p ng-show="selectAll && !invertSelect">select all</p>
        <p ng-show="clearSelected && !invertSelect">clear selected</p>
        <p ng-show="invertSelect">invert selection</p>
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 deleteSelectedStudents" ng-class="{'IIndaryBtnYes': deleteAppear, 'IIndaryBtnNo': !deleteAppear}">
      <button class="controlBtn deleteSelected" ng-click="deleteSelected()">
        <p>delete selected</p>
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 startSelectedTests" ng-class="{'IIndaryBtnYes': deleteAppear, 'IIndaryBtnNo': !deleteAppear}">
      <button class="controlBtn deleteSelected" ng-click="startSelectedTests(students)">
        <p>start selected tests</p>
      </button>
    </div>
  </div>
<!-- END HEADING -->

<!-- BEGIN STUDENT DISPLAY -->

  <div class="row studentDisplay marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="student in students" ng-mouseleave="hover = false">
    <div class="student col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!-- STUDENT: checkbox, name, extend-time-->
      <div class="checkboxIndexName marginRight marginLeft col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="checkbox" class="checkbox" ng-model="student.isSafeToDelete" ng-change="saveAndToggleInvert(student)"/>
        <div class="indexAndNameCell">
          <p class="indexAndName">
            {{$index + 1}}. {{student.name}} ({{student.extendTime}})
          </p>
<!--delete-->
          <i class="fa fa-times deleteBtn" ng-model="student" ng-click="delete(student)" ng-show="student.isSafeToDelete"></i>
        </div>
      </div>
    </div>
<!-- END STUDENT DISPLAY -->

<!-- BEGIN TEST ONE -->
<!-- Plus button -->
    <div ng-hide="AddInlineTestOne || student.totalTimeOne > 0" class="addTest dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="fa fa-plus" aria-hidden="true" ng-click="AddInlineTestOne = true"></i>
    </div>
<!-- Begin Inline Form -->
    <div ng-show="AddInlineTestOne && student.totalTimeOne == 0" class="inlineForm buttonsAndBars">
      <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" class="form-control testNameInput" ng-model="student.testOneName" placeholder="test" ng-change="saveStudent(student)"/>
      </div>
      <div class="inlineTestTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" size="1" class="btn-time form-control" ng-model="student.testOneTime" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker ng-change="scopeTestTime(student.testOneTime)">
      </div>
      <button type="submit" type="button" class="addTestBtn col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false" ng-click="processTimeInput(student, 'testOne')"><i class="fa fa-check checkAdd" aria-hidden="true"></i></button>
    </div>
<!-- End Inline Form -->
<!-- TEST ONE DATA -->
    <div class="dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="student.totalTimeOne == 0 || finishedTestOneHidden" ng-mouseover="redHoverOne = true" ng-mouseleave="redHoverOne = false" ng-class="{'deleteHighlight': student.isSafeToDelete}">
      <div class="testTimeData">
<!-- Begin test hide -->
        <div ng-show="redHoverOne && student.isTestOneOver" class="hideTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <i class="fa fa-minus" aria-hidden="true" ng-click="finishedTestOneHidden = true"></i>
        </div>
<!-- End test hide -->
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverOne && student.isTestOneOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            started:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{startTime(student, "testOne") | date: 'mediumTime'}}
          </p>
        </div>
        <div class= "testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverOne && student.isTestOneOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            paused:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{totalPausedTime(student, "testOne").hourMinSec}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverOne && student.isTestOneOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            std. end:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{endTime(student, "testOne") | date: 'mediumTime'}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverOne && student.isTestOneOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            ext. end:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{endTime(student, "exttestOne") | date: 'mediumTime'}}
          </p>
        </div>
      </div>
<!-- TEST ONE NAME -->
      <div class="buttonsAndBars">
        <div class="testNameCell marginRight marginLeft">
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTimerOneStart && !student.isTestOneOver">
            <button class="countBtn" ng-click="startTimer(student, 'testOne')">
              <p class="countBtnText">
                start {{student.testOneName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTestOneOver && student.totalTimeOne > 0">
            <button class="redBtn">
              <p class="countBtnText">
                {{student.testOneName}} test is over
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerOneStart && !student.isTimerOnePaused && !student.isTestOneOver">
            <button class="pauseBtn" ng-click="pauseTimer(student, 'testOne')">
              <p class="pauseBtnText">
                pause {{student.testOneName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerOneStart && student.isTimerOnePaused && !student.isTestOneOver">
            <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testOne')">
              <p class="resumeBtnText">
                resume
              </p>
            </button>
            <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testOne')">
              <p class="resetBtnText">
                reset
              </p>
            </button>
            <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testOne')">
              <p class="endBtnText">
                end
              </p>
            </button>
          </div>
        </div>
  <!-- BEGIN TEST ONE BARS -->
        <div class="bars col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="progress fullBar">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testOne').bottom + timer(student, 'testOne').top) + '%'}">
              <p class="barLabel">{{timer(student, "testOne").countdown | date: 'H:mm:ss'}}</p>
            </div>
          </div>
          <div class="progress splitBar"> <!--Begin Bars-->
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testOne').bottom + '%'}">
              <p class="barLabel" ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') > 0">{{testTime(student, "testOneExt") | date: 'H:mm:ss'}}</p>
              <p class="barLabel" ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') <= 0">{{timer(student, "testOne").countdown | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') > 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testOne').top + '%'}">
              <p class="barLabel">{{timer(student, "testOne").countdown - testTime(student, "testOneExtBar") | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') <= 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END DATA BUTTONS AND BARS -->
<!-- End Bars-->
<!-- END TEST ONE-->

<!-- BEGIN TWO TIME -->
<!-- Plus button -->
    <div ng-hide="AddInlineTestTwo || student.totalTimeOne == 0 || student.totalTimeTwo > 0" class="addTest dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="fa fa-plus" aria-hidden="true" ng-click="AddInlineTestTwo = true"></i>
    </div>
<!-- Begin Inline Form -->
    <div ng-show="AddInlineTestTwo && student.totalTimeTwo == 0" class="inlineForm buttonsAndBars">
      <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" class="form-control testNameInput" ng-model="student.testTwoName" placeholder="enter test" ng-change="saveStudent(student)"/>
      </div>
      <div class="inlineTestTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" size="1" class="btn-time form-control" ng-model="student.testTwoTime" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="01:00" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker ng-change="scopeTestTime(student.testTwoTime)">
      </div>
      <button type="submit" type="button" class="addTestBtn col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false" ng-click="processTimeInput(student, 'testTwo')"><i class="fa fa-check checkAdd" aria-hidden="true"></i></button>
    </div>
<!-- End Inline Form -->
<!-- TEST TWO DATA -->
    <div class="dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="student.totalTimeTwo == 0 || finishedTestTwoHidden" ng-mouseover="redHoverTwo = true" ng-mouseleave="redHoverTwo = false" ng-class="{'deleteHighlight': student.isSafeToDelete}">
      <div class="testTimeData">
        <hr>
<!-- Begin test hide -->
        <div ng-show="redHoverTwo && student.isTestTwoOver" class="hideTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <i class="fa fa-minus" aria-hidden="true" ng-click="finishedTestTwoHidden = true"></i>
        </div>
<!-- End test hide -->
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverTwo && student.isTestTwoOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            started:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{startTime(student, "testTwo") | date: 'mediumTime'}}
          </p>
        </div>
        <div class= "testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverTwo && student.isTestTwoOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            paused:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{totalPausedTime(student, "testTwo").hourMinSec}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverTwo && student.isTestTwoOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            std. end:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{endTime(student, "testTwo") | date: 'mediumTime'}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverTwo && student.isTestTwoOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            ext. end:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{endTime(student, "exttestTwo") | date: 'mediumTime'}}
          </p>
        </div>
      </div>
  <!-- TEST TWO NAME -->
      <div class="buttonsAndBars">
        <div class="testNameCell marginRight marginLeft">
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTimerTwoStart && student.isTestOneOver">
            <button class="countBtn" ng-click="startTimer(student, 'testTwo')">
              <p class="countBtnText">
                start {{student.testTwoName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTestOneOver">
            <button class="grayCell">
              <p class="countBtnText">
                {{student.testTwoName}} waiting on previous test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTestTwoOver">
            <button class="redBtn">
              <p class="countBtnText">
                {{student.testTwoName}} test is over
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerTwoStart && !student.isTimerTwoPaused && !student.isTestTwoOver">
            <button class="pauseBtn" ng-click="pauseTimer(student, 'testTwo')">
              <p class="pauseBtnText">
                pause {{student.testTwoName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerTwoStart && student.isTimerTwoPaused && !student.isTestTwoOver">
            <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testTwo')">
              <p class="resumeBtnText">
                resume
              </p>
            </button>
            <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testTwo')">
              <p class="resetBtnText">
                reset
              </p>
            </button>
            <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testTwo')">
              <p class="endBtnText">
                end
              </p>
            </button>
          </div>
        </div>
  <!-- BEGIN TEST TWO BARS -->
        <div class="bars col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="progress fullBar">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testTwo').bottom + timer(student, 'testTwo').top) + '%'}">
              <p class="barLabel">{{timer(student, "testTwo").countdown | date: 'H:mm:ss'}}</p>
            </div>
          </div>
          <div class="progress splitBar"> <!--Begin Bars-->
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testTwo').bottom + '%'}">
              <p class="barLabel" ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') > 0">{{testTime(student, "testTwoExt") | date: 'H:mm:ss'}}</p>
              <p class="barLabel" ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') <= 0">{{timer(student, "testTwo").countdown | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') > 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testTwo').top + '%'}">
              <p class="barLabel">{{timer(student, "testTwo").countdown - testTime(student, "testTwoExtBar") | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') <= 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
            </div>
          </div>

        </div>
      </div>
    </div> <!-- END DATA BUTTONS AND BARS -->
<!-- End Bars-->
<!-- END TEST TWO -->

<!-- BEGIN THREE TIME -->
<!-- Plus button -->
    <div ng-hide="AddInlineTestThree || student.totalTimeTwo == 0 || student.totalTimeThree > 0" class="addTest dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="fa fa-plus" aria-hidden="true" ng-click="AddInlineTestThree = true"></i>
    </div>
<!-- Begin Inline Form -->
    <div ng-show="AddInlineTestThree && student.totalTimeThree == 0" class="inlineForm buttonsAndBars">
      <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" class="form-control testNameInput" ng-model="student.testThreeName" placeholder="enter test" ng-change="saveStudent(student)"/>
      </div>
      <div class="inlineTestTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" size="1" class="btn-time form-control" ng-model="student.testThreeTime" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker ng-change="scopeTestTime(student.testThreeTime)">
      </div>
      <button type="submit" type="button" class="addTestBtn col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false" ng-click="processTimeInput(student, 'testThree')"><i class="fa fa-check checkAdd" aria-hidden="true"></i></button>
    </div>
<!-- End Inline Form -->
<!-- TEST THREE DATA -->
    <div class="dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="student.totalTimeThree == 0 || finishedTestThreeHidden" ng-mouseover="redHoverThree = true" ng-mouseleave="redHoverThree = false" ng-class="{'deleteHighlight': student.isSafeToDelete}">
      <div class="testTimeData">
        <hr>
<!-- Begin test hide -->
        <div ng-show="redHoverThree && student.isTestThreeOver" class="hideTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <i class="fa fa-minus" aria-hidden="true" ng-click="finishedTestThreeHidden = true"></i>
        </div>
<!-- End test hide -->
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverThree && student.isTestThreeOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            started:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{startTime(student, "testThree") | date: 'mediumTime'}}
          </p>
        </div>
        <div class= "testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverThree && student.isTestThreeOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            paused:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{totalPausedTime(student, "testThree").hourMinSec}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverThree && student.isTestThreeOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            std. end:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{endTime(student, "testThree") | date: 'mediumTime'}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverThree && student.isTestThreeOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            ext. end:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{endTime(student, "exttestThree") | date: 'mediumTime'}}
          </p>
        </div>
      </div>
  <!-- TEST THREE NAME -->
      <div class="buttonsAndBars">
        <div class="testNameCell marginRight marginLeft">
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTimerThreeStart && student.isTestTwoOver">
            <button class="countBtn" ng-click="startTimer(student, 'testThree')">
              <p class="countBtnText">
                start {{student.testThreeName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTestTwoOver">
            <button class="grayCell">
              <p class="countBtnText">
                {{student.testThreeName}} waiting on previous test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTestThreeOver">
            <button class="redBtn">
              <p class="countBtnText">
                {{student.testThreeName}} test is over
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerThreeStart && !student.isTimerThreePaused && !student.isTestThreeOver">
            <button class="pauseBtn" ng-click="pauseTimer(student, 'testThree')">
              <p class="pauseBtnText">
                pause {{student.testThreeName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerThreeStart && student.isTimerThreePaused && !student.isTestThreeOver">
            <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testThree')">
              <p class="resumeBtnText">
                resume
              </p>
            </button>
            <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testThree')">
              <p class="resetBtnText">
                reset
              </p>
            </button>
            <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testThree')">
              <p class="endBtnText">
                end
              </p>
            </button>
          </div>
        </div>
  <!-- BEGIN TEST THREE BARS -->
        <div class="bars col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="progress fullBar">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testThree').bottom + timer(student, 'testThree').top) + '%'}">
              <p class="barLabel">{{timer(student, "testThree").countdown | date: 'H:mm:ss'}}</p>
            </div>
          </div>
          <div class="progress splitBar"> <!--Begin Bars-->
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testThree').bottom + '%'}">
              <p class="barLabel" ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') > 0">{{testTime(student, "testThreeExt") | date: 'H:mm:ss'}}</p>
              <p class="barLabel" ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') <= 0">{{timer(student, "testThree").countdown | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') > 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testThree').top + '%'}">
              <p class="barLabel">{{timer(student, "testThree").countdown - testTime(student, "testThreeExtBar") | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') <= 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END DATA BUTTONS AND BARS -->
<!-- End Bars-->
<!-- END TEST THREE -->

<!-- BEGIN FOUR TIME -->
<!-- Plus button -->
    <div ng-hide="AddInlineTestFour || student.totalTimeThree == 0 || student.totalTimeFour > 0" class="addTest dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <i class="fa fa-plus" aria-hidden="true" ng-click="AddInlineTestFour = true"></i>
    </div>
<!-- Begin Inline Form -->
    <div ng-show="AddInlineTestFour && student.totalTimeFour == 0" class="inlineForm buttonsAndBars">
      <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" class="form-control testNameInput" ng-model="student.testFourName" placeholder="enter test" ng-change="saveStudent(student)"/>
      </div>
      <div class="inlineTestTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input type="text" size="1" class="btn-time form-control" ng-model="student.testFourTime" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker ng-change="scopeTestTime(student.testFourTime)">
      </div>
      <button type="submit" type="button" class="addTestBtn col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false" ng-click="processTimeInput(student, 'testFour')"><i class="fa fa-check checkAdd" aria-hidden="true"></i></button>
    </div>
<!-- End Inline Form -->
<!-- TEST FOUR DATA -->
    <div class="dataButtonsAndBars col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="student.totalTimeFour == 0 || finishedTestThreeHidden" ng-mouseover="redHoverFour = true" ng-mouseleave="redHoverFour = false" ng-class="{'deleteHighlight': student.isSafeToDelete}">
      <div class="testTimeData">
        <hr>
<!-- Begin test hide -->
        <div ng-show="redHoverFour && student.isTestFourOver" class="hideTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <i class="fa fa-minus" aria-hidden="true" ng-click="finishedTestFourHidden = true"></i>
        </div>
<!-- End test hide -->
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverFour && student.isTestFourOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            started:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{startTime(student, "testFour") | date: 'mediumTime'}}
          </p>
        </div>
        <div class= "testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverFour && student.isTestFourOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            paused:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{totalPausedTime(student, "testFour").hourMinSec}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverFour && student.isTestFourOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            std. end:
          </p>
          <p class="dataPoint col-lg-7 col-md-7 col-sm-7 col-xs-12">
            {{endTime(student, "testFour") | date: 'mediumTime'}}
          </p>
        </div>
        <div class="testTimeCell marginLeft marginRight col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="redHoverFour && student.isTestFourOver">
          <p class="dataPointLabel col-lg-5 col-md-5 col-sm-5 col-xs-12">
            ext. end:
          </p>
          <p class="dataPoint col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{endTime(student, "exttestFour") | date: 'mediumTime'}}
          </p>
        </div>
      </div>
  <!-- TEST FOUR NAME -->
      <div class="buttonsAndBars">
        <div class="testNameCell marginRight marginLeft">
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTimerFourStart && student.isTestThreeOver">
            <button class="countBtn" ng-click="startTimer(student, 'testFour')">
              <p class="countBtnText">
                start {{student.testFourName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.isTestThreeOver">
            <button class="grayCell">
              <p class="countBtnText">
                {{student.testFourName}} waiting on previous test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTestFourOver">
            <button class="redBtn">
              <p class="countBtnText">
                {{student.testFourName}} test is over
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerFourStart && !student.isTimerFourPaused && !student.isTestFourOver">
            <button class="pauseBtn" ng-click="pauseTimer(student, 'testFour')">
              <p class="pauseBtnText">
                pause {{student.testFourName}} test
              </p>
            </button>
          </div>
          <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.isTimerFourStart && student.isTimerFourPaused && !student.isTestFourOver">
            <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testFour')">
              <p class="resumeBtnText">
                resume
              </p>
            </button>
            <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testFour')">
              <p class="resetBtnText">
                reset
              </p>
            </button>
            <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testFour')">
              <p class="endBtnText">
                end
              </p>
            </button>
          </div>
        </div>
  <!-- BEGIN TEST FOUR BARS -->
        <div class="bars col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="progress fullBar">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testFour').bottom + timer(student, 'testFour').top) + '%'}">
              <p class="barLabel">{{timer(student, "testFour").countdown | date: 'H:mm:ss'}}</p>
            </div>
          </div>
          <div class="progress splitBar"> <!--Begin Bars-->
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testFour').bottom + '%'}">
              <p class="barLabel" ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') > 0">{{testTime(student, "testFourExt") | date: 'H:mm:ss'}}</p>
              <p class="barLabel" ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') <= 0">{{timer(student, "testFour").countdown | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') > 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testFour').top + '%'}">
              <p class="barLabel">{{timer(student, "testFour").countdown - testTime(student, "testFourExtBar") | date: 'H:mm:ss'}}</p>
            </div>
            <div ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') <= 0" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END DATA BUTTONS AND BARS -->
<!-- End Bars-->
<!-- END TEST FOUR -->
  </div> <!-- student Display and ng-repeat end -->
</div> <!-- END CONTAINER-FLUID MAIN-BODY -->
<!--FORM-->
<div class="form row">
  <form ng-submit="addStudent()"><!-- push a new message onto the array-->
    <div class="form-fields marginRight marginLeft col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="nameAndExtend col-lg-4 col-md-4 col-sm-4 col-xs-12">
<!--student name + extend button-->
        <div class="nameForm smallWidthMargin col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <input class="form-control nameInput" ng-model="newStudentName" placeholder="enter student name"/>
        </div>
        <div class="extendForm smallWidthMargin col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href class="tip" data-animation="am-flip-x" bs-tooltip="dateTip">
            <button type="button" class="extendInput btn btn-default" ng-model="timewrap.selectedTime" data-html="1" data-animation="am-fade-and-scale" data-toggle="true" bs-options="time as time for time in times" placeholder="enter ext. time" bs-select>
              <span class="caret">
              </span>
            </button>
          </a>
        </div>
      </div>
<!--test name one -->
      <div class="testOneAndTwo col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="testNameForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="form-control testNameInput" ng-model="newtestOneName" placeholder="test" />
          </div>
<!--test time one -->
          <div class="testTimeForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateOne" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
          </div>
        </div>
<!--test name two -->
        <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div ng-hide="addTestTwo" class="addTestBottom">
            <i class="fa fa-plus" aria-hidden="true" ng-click="addTestTwo = true"></i>
          </div>
          <div ng-show="addTestTwo" class="testNameForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="form-control testNameInput" ng-model="newtestTwoName" placeholder="test" />
          </div>
<!--test time two -->
          <div ng-show="addTestTwo" class="testTimeForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateTwo" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
          </div>
        </div>
      </div>
<!--test name three -->
      <div class="testThreeAndFour col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div ng-hide="addTestThree || !addTestTwo" class="addTestBottom">
            <i class="fa fa-plus" aria-hidden="true" ng-click="addTestThree = true"></i>
          </div>
          <div ng-show="addTestThree" class="testNameForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="form-control testNameInput" ng-model="newtestThreeName" placeholder="test" />
          </div>
<!--test time three -->
          <div ng-show="addTestThree" class="testTimeForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateThree" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
          </div>
        </div>
<!--test name four -->
        <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div ng-hide="addTestFour || !addTestThree" class="addTestBottom">
            <i class="fa fa-plus" aria-hidden="true" ng-click="addTestFour = true"></i>
          </div>
          <div ng-show="addTestFour" class="testNameForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="form-control testNameInput" ng-model="newtestFourName" placeholder="test" />
          </div>
<!--test time four -->
          <div ng-show="addTestFour" class="testTimeForm smallWidthMargin col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateFour" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
          </div>
        </div>
      </div>
    </div> <!-- END COL-XX-12 CLASS -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-div">
      <button type="submit" type="button" class="addStudentBtn">Add student</button>
    </div>
  </form>
</div> <!-- END FORM ROW -->
<!--end ITEM DISPLAY-->
<!-- <div ng-include="'/templates/graphs.html'"></div> -->

</body>
</section>
