<section ng-controller="StudentCtrl" class="user">
  <!-- <div ng-include="'/templates/navbar.html'"></div> -->
<body>
<div class="list-group">
<!--begin Clock-->
<div class="clock-container-fluid">
  <div class="clock-row row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column2">
      <div class= "page-name">
        <b><p>test tracker</p></b>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column1">
      <div class="clock">
        <p><b>{{time | date: 'EEEE'}}, </b><b>{{time | date: 'MMMM'}} {{time | date: 'dd'}}, </b><b>{{time | date: 'yyyy'}}, </b><b> {{time | date: 'mediumTime'}}</b></p>
      </div>
    </div>
  </div>
</div>
<!--end Clock-->

<!--begin ItemDisplay-->
<div class="container-fluid main-body w3-panel w3-card-2">
<!--SELECT / DELETE CONTROLS-->
  <div class="row formControls marginLeft marginRight">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginLeft marginRight btn-wrap mainBtn" ng-class="{'col-lg-6 col-md-6 col-sm-6 col-xs-6 marginLeft btn-wrap mainBtn': clickedToDelete, 'col-lg-12 col-md-12 col-sm-12 col-xs-12 marginLeft marginRight btn-wrap mainBtn': !clickedToDelete}">
      <button class="controlBtn selectAll" ng-click="selectAllForDelete(students)" ng-show="selectAll && !invertSelect">
        <p>select all</p>
      </button>
      <button class="controlBtn clearAll" ng-click="undoAllSelectForDelete(students)" ng-show="!selectAll && !invertSelect">
        <p>clear selected</p>
      </button>
      <button class="controlBtn invertSelection" ng-click="invertSelectForDelete(students)" ng-show="!selectAll && invertSelect">
        <p>invert selection</p>
      </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marginRight btn-wrap IIndaryBtn" ng-show="deleteAppear" ng-class="{'IIndaryBtnYes': clickedToDelete, 'IIndaryBtnNo': !clickedToDelete}">
      <button class="controlBtn deleteSelected" ng-click="deleteSelected()">
        <p>delete selected</p>
      </button>
    </div>
  </div>

<!--displayText controls all <p> from here on out-->
<div class="displayText">
<!--end HEADING-->
<!--STUDENT DISPLAY-->
  <div class="alert alert-danger" role="alert" ng-show="alert">oops! At minimum, please enter student name and testing extension multiple.</div>
  <div class="row studentDisplay marginLeft marginRight" ng-repeat="student in students" ng-mouseleave="hover = false">
<!--name and extend-time-->
    <div class="nameAndTest col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="checkboxIndexName marginRight marginLeft col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <input type="checkbox" class="checkbox" ng-model="student.isSafeToDelete" ng-change="saveAndToggleInvert(student)"/>
        <div class="indexAndNameCell">
          <p class="indexAndName marginTop" ng-class="{'redText': student.isSafeToDelete}">
            {{$index + 1}}. {{student.name}} <span>({{student.extendTime}})</span>
          </p>
        </div>
<!--delete-->
        <div class="deleteContainer marginRight">
          <p><i class="fa fa-times deleteBtn" ng-model="student" ng-click="delete(student)" ng-show="student.isSafeToDelete"></i></p>
        </div>
      </div>
<!-- TEST ONE NAME -->
      <div class="testNameCell marginRight marginLeft col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testOneName && !student.isTimerOneStart && !student.isTestOneOver">
          <button class="countBtn" ng-class="{'redBtn': student.isSafeToDelete}"  ng-click="startTimer(student, 'testOne')">
            <p class="countBtnText">
              begin {{student.testOneName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testOneName && student.isTestOneOver">
          <button class="redBtn">
            <p class="countBtnText">
              {{student.testOneName}} test is over
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testOneName && student.isTimerOneStart && !student.isTimerOnePaused && !student.isTestOneOver">
          <button class="pauseBtn" ng-click="pauseTimer(student, 'testOne')">
            <p class="pauseBtnText">
              pause {{student.testOneName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" class="resumeResetEnd" ng-show="student.testOneName && student.isTimerOneStart && student.isTimerOnePaused && !student.isTestOneOver">
          <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testOne')">
            <p class="resumeBtnText">
              resume
            </p>
          </button>
          <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testOne')">
            <p class="resetBtnText">
              reset
            </p>
          </button>
          <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testOne')">
            <p class="endBtnText">
              end
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.testOneName">
          <div ng-hide="addTestOne" class="addTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestOne = true"></i>
          </div>
          <div ng-show="addTestOne" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <form ng-submit="addTest(student, 'testOne')">
              <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestName" placeholder="enter 1st test" />
              </div>
              <div class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDate" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
              <button type="submit" type="button" class="addTestBtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>



        <!-- <form class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.testOneName" ng-submit="addTest(student, 'testOne')">
          <div ng-hide="addTestOne" class="addTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestOne = true"></i>
          </div>
          <div ng-show="addTestOne" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div ng-include="'/templates/inlineForm.html'"></div>
          </div>
        </form> -->

      </div>
    </div>
<!-- TEST ONE TIME -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div class="testTimeCell col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class= "start marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          started at:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{startTime(student, "testOne") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          time paused:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{totalPausedTime(student, "testOne").hourMinSec}}
        </p>
      </div>
      <div class="testTimeCell marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel dataPairPause col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          std. end time:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "testOne") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          ext. end time:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "exttestOne") | date: 'mediumTime'}}
        </p>
      </div>
    </div>
<!-- BEGIN TEST ONE BARS -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div ng-show="student.testOneName" class="bars col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class="progress fullBar">
        <div class="progress-bar progress-bar-info progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testOne').bottom + timer(student, 'testOne').top) + '%'}">
          <p class="barLabel">{{timer(student, "testOne").countdown | date: 'H:mm:ss'}}</p>
        </div>
      </div>
      <div class="progress splitBar"> <!--Begin Bars-->
        <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testOne').bottom + '%'}">
          <p class="barLabel" ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') > 0">{{testTime(student, "testOneExt") | date: 'H:mm:ss'}}</p>
          <p class="barLabel" ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') <= 0">{{timer(student, "testOne").countdown | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') > 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testOne').top + '%'}">
          <p class="barLabel">{{timer(student, "testOne").countdown - testTime(student, "testOneExtBar") | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testOne').countdown - testTime(student, 'testOneExt') <= 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
        </div>
      </div>
      <hr>
    </div>
<!-- End Bars-->
<!-- END TEST ONE-->
<!-- BEGIN TEST TWO -->
    <div class="nameAndTest col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!--TEST TWO NAME -->
      <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
      <div class="testNameCell marginRight marginLeft col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testTwoName && !student.isTimerTwoStart && student.isTestOneOver">
          <button class="countBtn" ng-class="{'redBtn': student.isSafeToDelete}"  ng-click="startTimer(student, 'testTwo')">
            <p class="countBtnText">
              begin {{student.testTwoName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testTwoName && !student.isTimerTwoStart && !student.isTestOneOver">
          <button class="grayCell" ng-class="{'redBtn': student.isSafeToDelete}">
            <p class="countBtnText">
              {{student.testTwoName}} waiting on previous test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testTwoName && student.isTestTwoOver">
          <button class="redBtn">
            <p class="countBtnText">
              {{student.testTwoName}} test is over
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testTwoName && student.isTimerTwoStart && !student.isTimerTwoPaused && !student.isTestTwoOver">
          <button class="pauseBtn" ng-click="pauseTimer(student, 'testTwo')">
            <p class="pauseBtnText">
              pause {{student.testTwoName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" class="resumeResetEnd" ng-show="student.testTwoName && student.isTimerTwoStart && student.isTimerTwoPaused && !student.isTestTwoOver">
          <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testTwo')">
            <p class="resumeBtnText">
              resume
            </p>
          </button>
          <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testTwo')">
            <p class="resetBtnText">
              reset
            </p>
          </button>
          <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testTwo')">
            <p class="endBtnText">
              end
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.testTwoName">
          <div ng-hide="addTestTwo || !student.testOneName" class="addTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestTwo = true"></i>
          </div>
          <div ng-show="addTestTwo" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <form ng-submit="addTest(student, 'testTwo')">
              <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestName" placeholder="enter 1st test" />
              </div>
              <div class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDate" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
              <button type="submit" type="button" class="addTestBtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- TEST TWO TIME -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div class="testTimeCell col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class= "start marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          started at:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{startTime(student, "testTwo") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          time paused:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{totalPausedTime(student, "testTwo").hourMinSec}}
        </p>
      </div>
      <div class="testTimeCell marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel dataPairPause col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          std. end time:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "testTwo") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          ext. end time:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "exttestTwo") | date: 'mediumTime'}}
        </p>
      </div>
    </div>
<!-- BEGIN TEST TWO BARS -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div ng-show="student.testTwoName" class="bars col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class="progress fullBar">
        <div class="progress-bar progress-bar-info progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testTwo').bottom + timer(student, 'testTwo').top) + '%'}">
          <p class="barLabel">{{timer(student, "testTwo").countdown | date: 'H:mm:ss'}}</p>
        </div>
      </div>
      <div class="progress splitBar"> <!--Begin Bars-->
        <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testTwo').bottom + '%'}">
          <p class="barLabel" ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') > 0">{{testTime(student, "testTwoExt") | date: 'H:mm:ss'}}</p>
          <p class="barLabel" ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') <= 0">{{timer(student, "testTwo").countdown | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') > 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testTwo').top + '%'}">
          <p class="barLabel">{{timer(student, "testTwo").countdown - testTime(student, "testTwoExtBar") | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testTwo').countdown - testTime(student, 'testTwoExt') <= 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
        </div>
      </div>
      <hr>
    </div>
<!-- End Bars-->
<!-- END TEST TWO -->
<!-- BEGIN TEST THREE -->
    <div class="nameAndTest col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
      <div class="testNameCell marginRight marginLeft col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testThreeName && !student.isTimerThreeStart && student.isTestTwoOver">
          <button class="countBtn" ng-class="{'redBtn': student.isSafeToDelete}"  ng-click="startTimer(student, 'testThree')">
            <p class="countBtnText">
              begin {{student.testThreeName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testThreeName && !student.isTimerThreeStart && !student.isTestTwoOver">
          <button class="grayCell" ng-class="{'redBtn': student.isSafeToDelete}">
            <p class="countBtnText">
              {{student.testThreeName}} waiting on previous test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testThreeName && student.isTestThreeOver">
          <button class="redBtn">
            <p class="countBtnText">
              {{student.testThreeName}} test is over
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testThreeName && student.isTimerThreeStart && !student.isTimerThreePaused && !student.isTestThreeOver">
          <button class="pauseBtn" ng-click="pauseTimer(student, 'testThree')">
            <p class="pauseBtnText">
              pause {{student.testThreeName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" class="resumeResetEnd" ng-show="student.testThreeName && student.isTimerThreeStart && student.isTimerThreePaused && !student.isTestThreeOver">
          <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testThree')">
            <p class="resumeBtnText">
              resume
            </p>
          </button>
          <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testThree')">
            <p class="resetBtnText">
              reset
            </p>
          </button>
          <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testThree')">
            <p class="endBtnText">
              end
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.testThreeName">
          <div ng-hide="addTestThree || !student.testTwoName" class="addTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestThree = true"></i>
          </div>
          <div ng-show="addTestThree" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <form ng-submit="addTest(student, 'testThree')">
              <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestName" placeholder="enter 1st test" />
              </div>
              <div class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDate" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
              <button type="submit" type="button" class="addTestBtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- TEST THREE TIME -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div class="testTimeCell col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class= "start marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          started at:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{startTime(student, "testThree") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          time paused:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{totalPausedTime(student, "testThree").hourMinSec}}
        </p>
      </div>
      <div class="testTimeCell marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel dataPairPause col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          std. end time:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "testThree") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          ext. end time:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "exttestThree") | date: 'mediumTime'}}
        </p>
      </div>
    </div>
<!-- BEGIN TEST THREE BARS -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div ng-show="student.testThreeName" class="bars col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class="progress fullBar">
        <div class="progress-bar progress-bar-info progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testThree').bottom + timer(student, 'testThree').top) + '%'}">
          <p class="barLabel">{{timer(student, "testThree").countdown | date: 'H:mm:ss'}}</p>
        </div>
      </div>
      <div class="progress splitBar"> <!--Begin Bars-->
        <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testThree').bottom + '%'}">
          <p class="barLabel" ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') > 0">{{testTime(student, "testThreeExt") | date: 'H:mm:ss'}}</p>
          <p class="barLabel" ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') <= 0">{{timer(student, "testThree").countdown | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') > 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testThree').top + '%'}">
          <p class="barLabel">{{timer(student, "testThree").countdown - testTime(student, "testThreeExtBar") | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testThree').countdown - testTime(student, 'testThreeExt') <= 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
        </div>
      </div>
      <hr>
    </div>
<!-- End Bars-->
<!-- END TEST THREE -->
<!-- BEGIN TEST FOUR -->
    <div class="nameAndTest col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
      <div class="testNameCell marginRight marginLeft col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testFourName && !student.isTimerFourStart && student.isTestThreeOver">
          <button class="countBtn" ng-class="{'redBtn': student.isSafeToDelete}"  ng-click="startTimer(student, 'testFour')">
            <p class="countBtnText">
              begin {{student.testFourName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testFourName && !student.isTimerFourStart && !student.isTestThreeOver">
          <button class="grayCell" ng-class="{'redBtn': student.isSafeToDelete}">
            <p class="countBtnText">
              {{student.testFourName}} waiting on previous test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testFourName && student.isTestFourOver">
          <button class="redBtn">
            <p class="countBtnText">
              {{student.testFourName}} test is over
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="student.testFourName && student.isTimerFourStart && !student.isTimerFourPaused && !student.isTestFourOver">
          <button class="pauseBtn" ng-click="pauseTimer(student, 'testFour')">
            <p class="pauseBtnText">
              pause {{student.testFourName}} test
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" class="resumeResetEnd" ng-show="student.testFourName && student.isTimerFourStart && student.isTimerFourPaused && !student.isTestFourOver">
          <button class="resumeBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resumeTimer(student, 'testFour')">
            <p class="resumeBtnText">
              resume
            </p>
          </button>
          <button class="resetBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="resetTimer(student, 'testFour')">
            <p class="resetBtnText">
              reset
            </p>
          </button>
          <button class="endBtn col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-click="endTimer(student, 'testFour')">
            <p class="endBtnText">
              end
            </p>
          </button>
        </div>
        <div class="buttonContainer col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!student.testFourName">
          <div ng-hide="addTestFour || !student.testThreeName" class="addTest col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestFour = true"></i>
          </div>
          <div ng-show="addTestFour" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <form ng-submit="addTest(student, 'testFour')">
              <div class="inlineNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestName" placeholder="enter 1st test" />
              </div>
              <div class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDate" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
              <button type="submit" type="button" class="addTestBtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--testFourTime-->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div class="testTimeCell col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class= "start marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          started at:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{startTime(student, "testFour") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          time paused:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{totalPausedTime(student, "testFour").hourMinSec}}
        </p>
      </div>
      <div class="testTimeCell marginLeft marginRight col-md-6 col-sm-12 col-xs-12">
        <p class="dataPointLabel dataPairPause col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          std. end time:
        </p>
        <p class="dataPoint dataPair col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "testFour") | date: 'mediumTime'}}
        </p>
        <p class="dataPointLabel col-lg-3 col-md-8 col-sm-8 col-xs-8" ng-class="{'redText': student.isSafeToDelete}">
          ext. end time:
        </p>
        <p class="dataPoint col-lg-3 col-md-4 col-sm-4 col-xs-4" ng-class="{'redText': student.isSafeToDelete}">
          {{endTime(student, "exttestFour") | date: 'mediumTime'}}
        </p>
      </div>
    </div>
<!-- BEGIN TEST FOUR BARS -->
    <div class="buffer col-lg-2 col-md-2 col-sm-2 col-xs-4"></div>
    <div ng-show="student.testFourName" class="bars col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <div class="progress fullBar">
        <div class="progress-bar progress-bar-info progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (timer(student, 'testFour').bottom + timer(student, 'testFour').top) + '%'}">
          <p class="barLabel">{{timer(student, "testFour").countdown | date: 'H:mm:ss'}}</p>
        </div>
      </div>
      <div class="progress splitBar"> <!--Begin Bars-->
        <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testFour').bottom + '%'}">
          <p class="barLabel" ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') > 0">{{testTime(student, "testFourExt") | date: 'H:mm:ss'}}</p>
          <p class="barLabel" ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') <= 0">{{timer(student, "testFour").countdown | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') > 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: timer(student, 'testFour').top + '%'}">
          <p class="barLabel">{{timer(student, "testFour").countdown - testTime(student, "testFourExtBar") | date: 'H:mm:ss'}}</p>
        </div>
        <div ng-show="timer(student, 'testFour').countdown - testTime(student, 'testFourExt') <= 0" class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ng-style="{width: 0 + '%'}">
        </div>
      </div>
      <hr ng-show="">
    </div>
<!-- End Bars-->
<!-- END TEST FOUR -->
  </div> <!-- student Display and ng-repeat end -->
</div>
<!--FORM-->
  <div class="displayText">
    <div class="form row">
      <form ng-submit="addStudent()"><!-- push a new message onto the array-->
        <div class="form-fields marginRight marginLeft col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="nameAndExtend col-lg-4 col-md-4 col-sm-4 col-xs-12">
<!--student name + extend button-->
            <div class="nameForm col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <input class="form-control nameInput" ng-model="newStudentName" placeholder="enter student name"/>
            </div>
            <div class="extendForm col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <a href class="tip" data-animation="am-flip-x" bs-tooltip="dateTip">
                <button type="button" class="extendInput btn btn-default" ng-model="timewrap.selectedTime" data-html="1" data-animation="am-fade-and-scale" data-toggle="true" bs-options="time as time for time in times" placeholder="enter ext. time" bs-select>
                  <span class="caret">
                  </span>
                </button>
              </a>
            </div>
          </div>
<!--test name one -->
          <div class="testOneAndTwo col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="testNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestOneName" placeholder="enter 1st test" />
              </div>
<!--test time one -->
              <div class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateOne" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
            </div>
<!--test name two -->
            <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div ng-hide="addTestTwo" class="addTest">
                <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestTwo = true"></i>
              </div>
              <div ng-show="addTestTwo" class="testNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestTwoName" placeholder="enter 2nd test" />
              </div>
<!--test time two -->
              <div ng-show="addTestTwo" class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateTwo" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
            </div>
          </div>
<!--test name three -->
          <div class="testThreeAndFour col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div ng-hide="addTestThree || !addTestTwo" class="addTest">
                <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestThree = true"></i>
              </div>
              <div ng-show="addTestThree" class="testNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestThreeName" placeholder="enter 3rd test" />
              </div>
<!--test time three -->
              <div ng-show="addTestThree" class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateThree" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
            </div>
<!--test name four -->
            <div class="nameAndTime col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div ng-hide="addTestFour || !addTestThree" class="addTest">
                <i class="fa fa-plus-square" aria-hidden="true" ng-click="addTestFour = true"></i>
              </div>
              <div ng-show="addTestFour" class="testNameForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control testNameInput" ng-model="newtestFourName" placeholder="enter 4th test" />
              </div>
<!--test time four -->
              <div ng-show="addTestFour" class="testTimeForm col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="text" size="1" class="btn-time form-control" ng-model="newDueDateFour" data-time-format="HH:mm" data-autoclose="3" data-animation="am-fade-and-scale" placeholder="Time" data-arrow-behavior="picker" data-length="1" data-minute-step="5" bs-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-div">
          <button type="submit" type="button" class="addStudentBtn">Add student</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--end ITEM DISPLAY-->
<!-- <div ng-include="'/templates/graphs.html'"></div> -->

</body>
</section>
